{
  "plugins": [

    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],

  
    ["module-resolver", {
      "root": ["./src"],
      "baseUrl": "./src",
      "alias": {
        "helpers": "./src/Hesslpers",
        "assets":"./assets"
      }
    }],

   

    ["babel-plugin-inline-import", {
      "extensions": [
        ".svg"
      ]
    }]

  ]
}
